!!!
%html
%head
%title Blogyr
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"
= csrf_meta_tags
%body
  %div.container
    %div#header
      %ul.nav.nav-pills.pull-right
        %li{:class => ("active" if controller.controller_name == "posts")}
          %a{:href => posts_index_path}
            Home
        - if user_signed_in?
          %li{:class => ("active" if ["sessions", "passwords", "registrations"].include? controller.controller_name)}
            %a{:href => destroy_user_session_path}
              Sign out
        - else
          %li{:class => ("active" if ["sessions", "passwords", "registrations"].include? controller.controller_name)}
            %a{:href => user_session_path}
              Sign in
        %li{:class => ("active" if controller.controller_name == "contacts")}
          %a{:href => contacts_index_path}
            Contact Me

      %h3.muted
        Blogyr
    %div
      = yield
